<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.watermelonhit.blog.mapper.ArchiveMapper">

    <select id="listArchives" resultType="com.watermelonhit.blog.dao.dos.Archive">
        SELECT YEAR(FROM_UNIXTIME(create_date/1000)) AS `year`,MONTH(FROM_UNIXTIME(create_date/1000)) AS `month`,COUNT(*) AS `count` FROM ms_article
        GROUP BY `year`,`month`;
    </select>

</mapper>